body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#bdd5ea;
}

.container{
  display:flex;
  gap:15px;
  padding:20px;
  background: css;
}

.card{
  width:120px;
  height:350px;
  overflow:hidden;
  border-radius:25px;
  transition:0.5s;
  box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.card:hover{
  width:250px;
}