body {
    margin: 0;
    padding: 20px;
    background: #f2f2f2;
}

.grid-container {
    box-shadow: 3px 3px 3px;
     border-radius:  7px;
    background: linear-gradient( white, skyblue) 4%;
    column-count: 4;      
    column-gap: 15px;     
}

.item {
     box-shadow: 3px 2px 2px;
     border-radius:  5px;
    break-inside: avoid;  
    margin-bottom: 15px;
    border-radius: 12px;
    overflow: hidden;
}

.item img {
    width: 100%;
    display: block;
    border-radius: 12px;
}
.book1{
    width: 500px;
    height: 600PX;
    
}


