*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f6f8;
}

.login-container{
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(rgb(195, 231, 231) 10%, white);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.logo i{
    
    justify-content: center;
    background-color: rgb(169, 227, 238);
    padding: 8px 20px;
    font-size: 20px;
    box-shadow: 2px 3px 4px rgba(11, 11, 11, 0.2);
    border-radius: 10px;
}

.login-container h1{
    font-size: 22px;
    margin: 10px 0;
}

.login-container p{
    padding: 5px;
    color: rgba(53, 51, 51, 0.863);
    font-size: 14px;
}

form{
    padding: 15px 0;
}

form input{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    background-color: rgb(192, 212, 218);
    border-radius: 20px;
    border: 1px solid #aaa;
    outline: none;
}
form button{
    
    padding: 4px;
    background-color: #292828;
    width: 100%;
    background-color: rgb(192, 212, 218);
    border-radius: 20px;


}

form input:focus{
    border: 1px solid #4da6b3;
    background-color: #e6f7fa;
}
.social-login button{
    width: 25%;
    background: linear-gradient(white, rgb(177, 235, 250));
    border-radius: 15px;
    padding: 8px 25px;
    font-weight: bold;
    box-shadow: 2px 3px 5px rgb(70, 69, 69);
}