.Container{
    max-width: 900px;
    background: linear-gradient(rgb(116, 116, 236), rgb(233, 184, 227) );
    padding: 20px;
   border: 4px solid black;
    border-radius: 10px;
    display: flex;
    gap: 30px;

}
.view{
    width: 400px;
}
.img{
   
    border: 3px solid rgb(37, 36, 36);
    border-radius: 15px;
    box-shadow: 5px 6px rgb(68, 67, 67);
    

}