.container {
    border: 2px solid black;
  display: grid ;
  grid-template-columns: 1fr 1fr;  /* 2 columns */
  grid-template-rows: 100px 100px; /* 2 rows */
  gap: 10px;
}

.box {
    border: 2px solid black;
  background-color: lightblue; 
  text-align: center;
  padding: 20px;

}
.flex-container {
    width: 300px;
    height: 300px;
    border: 2px solid black;
  display: flex;
  
  
}

 
 .item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    background-image: url(https://cdn.pixabay.com/photo/2020/06/21/09/48/hill-5324149_640.jpg);
   size: middle;
    
 }
